base: &default
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] %>

production:
  <<: *default

staging:
  <<: *default

development:
  <<: *default

test:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] %>
      safe: true
